<div class="row">
<div class="col-sm-4 col-sm-offset-1">
    <div class="form-group">
   <%= form_for :customer_detail, method: :get,remote:true,id: 'search' do |f|%>
       <b>Search User:</b>
       <br>
          <%= text_field_tag :search,"",placeholder:'Search Customer',class:"form-control",style: "width: 300px"%>
        <% end %>
        </div>
</div>
  </div>
</div>

<div id ="search_customer">


 <script type="text/javascript">
  $("#search").on("change", function() {
    var search;
    Item = $(this).val();
    $.ajax({
      url: "/customer_details/search_customer",
      type: "GET",
      data: {search: Item },
      dataType: "script"
     }).done(function (data) {
     console.log(data);
    });
  });
</script>

