<div class="col-md-12 section-top-15 wow fadeInDown" data-wow-duration="1s"
                             data-wow-delay="0.2s">
       <div class="panel panel-primary">
            <div class="panel-heading">Inventory Type
        </div>
 <div class="panel-body">
<p id="notice"></p>
    <div class="box-content" style="overflow-y: scroll; height:auto">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><b>Inventory Type Name</b></th>
            <th><b>Action</b></th>
          </tr>
        </thead>
        <tbody>
        
          <tr>
            <td>
              <%= @inventory_type.name %>
            </td>
            <td class="center">
            
              <%= link_to 'Transfer', transfer_inventory_transfer_path(@inventory_type),class: "btn btn-danger btn-sm"%></div>
            </td>
          </tr>
  
        </tbody>
      </table>
    </div>

  </div>
  </div>

</div>