<hr>
<div class="row">
  <div class="box col-md-12">
  <div class="box-inner">
    <div class="box-header well">
      <h2>Batches Transfer</h2>
    </div>

    <div class="box-content" style="overflow-y: scroll; height:auto">
      <table id="datatable" class="table table-striped table-bordered responsive">
        <thead>
          <tr>
            <th>Inventory Type Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        <% @inventory_type.inventories.each do |inv| %>
          <tr>
            <td>
              <%= inv.description %>
            </td>
            <td class="center">
              <div class="label-primary label label-default">
            
              <%= link_to 'Inventory Product Transfer', transfer_inventory_transfer_path(inv),class: "a-action"%></div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>
  </div>

</div>