<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
  </ul>

<br/><br/>
<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-3"></div>
  <div class="col-md-4">
  <h4><font color='red'><ul>Select Inventory Transfer From</ul></font></h4><br>
 <%= select_tag :inventory_type_id, options_for_select(InventoryType.all.collect{|u| [u.name, u.id]}), :'data-remote' => 'true', :'data-url' => url_for(:controller => 'inventory_transfers', :action => 'select', format: 'js'),class: "form-control",style:"width:350px" %>
  </div>
</div>
<div id="stage"></div>


<script type='text/javascript'>
$('#inventory_transfer_inventory_type_id').on('change', function() {
 var inventory_transfer_inventory_type_id;
 Item = $(this).val();
 $.ajax({
   url: '/inventory_transfers/select',
   type: 'GET',
   dataType: 'js',
   data: {inventory_transfer_inventory_type_id: Item},
   }).success(function(data) {   
 });
});
</script>

