<div>
  <ul class="breadcrumb">
    <li>Dashboard</li>
        <li><%= link_to 'Home',dashboard_home_index_path%></li>
            <li><%= link_to 'Inventories',inventories_path%></li>
  </ul>
</div>
<br/><br/>
<div class="row">
<div class="col-md-3"></div>
  <div class="col-md-4">
  <font color="red"><b>Select Inventory Type to See Inventory Reports *</b></font>
 <%= select_tag :inventory_type_id, options_for_select(InventoryType.all.collect{|u| [u.name, u.id]}),prompt:'Select a Inventory Type',class: "a-action", :'data-remote' => 'true', :'data-url' => url_for(:controller => 'inventory_transfers', :action => 'select', format: 'js') %>
  </div>
</div>
<div id="stage"></div>
<script type='text/javascript'>
$('#inventory_transfer_inventory_type_id').on('change', function() {
 var inventory_transfer_inventory_type_id;
 Item = $(this).val();
 $.ajax({
   url: '/inventory_transfers/select',
   type: 'GET',
   dataType: 'js',
   data: {inventory_transfer_inventory_type_id: Item},
   }).success(function(data) {
    
   
 });
});
</script>